*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: lightgray;

}

/* eslitilizando calculadora */
div#calculator{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: #816986;
    border-radius: 5%;

    min-height: 500px;
    min-width: 300px;

    box-shadow: 1px 1px 10px 2px #00000046;

}

p#secretMsg{
    /* Alinhando o texto no centro */
    position: absolute;
    align-self: center;
    justify-self: center;

    /* estilizando o texto */
    font: normal bold 1.5em Helvetica, sans-serif;
    color: #d6d6d6;
    text-shadow: 2px 2px 2px #00000048;
    
}

/* estilizando visor */
input#screen{
    height: 100%;
    width: 99%;
    border-radius: 13px;
    background-color: transparent;
    border: 0px;

}

/* estilizando area dos botoes */
section.inputArea{
    transition-duration: 0.5s;

    /* mudanaças exclusivamente visuais, ou seja, de rederização */
    transform: scaleY(0);
    transform-origin: bottom;

    /* estilo do display */
    display: grid;
    gap: 6px 5px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows:  repeat(5, 2fr);

    /* estilização do elemento */
    background-color: #3b3b3b;
    border-radius: 30px 30px 5% 5%;
    padding: 10px 5px 20px 5px;
    box-shadow: 0px -2px 3px 3px #0000001e;

}

div#calculator:hover section.inputArea{
    transition-duration: 0.5s;
    transform: scaleY(1);
    
}

button.buttonInput{
    height: 100%;
    width: 85%;
    border-radius: 50%;
    color: white;
    background-color: #3b3b3b00;
    border: 0px solid #00000000;
    font-size: 1.2em;
}

button.equalButton{
    grid-column: 3 / 5 ;
    border-radius: 30px;
    width: 100%;

}

button.buttonInput:hover{
    background-color: #ffffff0a;
    transition-duration: 0.3s;
}

button.buttonInput:active{
    background-color: #fdfdfd41;
    color: #ce66ce;
}


